<link rel="stylesheet" href="css/views/competences.css">
<div id="competences">
  <div class="competence">
    <p class="name">Développement site web front-end</p>
    <p class="description"><i>Html, Css, JavaScript, FrameworkJS</i>
Développement de site vitrine et de site dynamique. Connaissance des frameworks JQuery, VueJS, AngularJS.</p>
  </div>
  <div class="competence">
    <p class="name">Développement site web back-end</p>
    <p class="description"><i>Php, FrameworkPHP</i>
Connaissance du langage php ainsi que des frameworks comme Laravel ou Symphonie. Encore en apprentissage de ces framework.</p>
  </div>
  <div class="competence">
    <p class="name">Développement Application serveur</p>
    <p class="description"><i>NodeJS, Java</i>
Développement d'application serveur, d'application API sans interface physique.</p>
  </div>
  <div class="competence">
    <p class="name">Développement Base de données</p>
    <p class="description"><i>SQL</i>
Connaissance dans les bases de données type SQL simple.</p>
  </div>
  <div class="competence">
    <p class="name">Refonte de site web existant</p>
    <p class="description"><i>Front-End</i>
La modernité et la simplicité d'utilisation de votre site sont des critères principaux pour les utilisateurs. Remise à neuf de vos sites, amélioration de l'UX/UI (User Expérience, User Interface)</p>
  </div>
  <div class="competence">
    <p class="name">Serveur web</p>
    <p class="description"><i>Apache, Ngix</i>
Installation et configuration de serveur web sur machine linux.</p>
  </div>
</div>