<link rel="stylesheet" href="css/views/creations.css">
<div id="creations">
    <div class="creation">
      <img class="preview" src="images/previews/sarquentin.png">
      <p class="name">Quentin Sar Old Site</p>
      <p class="description"><i>Front-End, Site Vitrine</i>
<a href="resources/old-sarquentin/" target="blank">oldsarquentin_files</a>

Ce site web est mon tout premier site que j'ai publié sur internet. Il date d'il y a un an. Le site sur lequel vous êtes est le successeur de ce vieux projet.</p>
      </div>
      <div class="creation">
        <img class="preview" src="images/previews/myecoidea.png">
        <p class="name">My EcoIdea</p>
        <p class="description"><i>Front-End, Réseau Social</i>
<a href="https://my-ecoidea.org" target="blank">https://my-ecoidea.org</a>

My Ecoidea est un projet de réseau social écologique. J'y ai travaillé au niveau front-end pour toute la façade du site.</p>
        </div>
  </div>
</div>