<link rel="stylesheet" href="css/views/plus.css">
<div id="plus">
    <div class="contacts">
      <div class="contact">
        <p class="name">E-Mail : </p>
        <p class="link">contact@sarquentin.fr</p>
      </div>
      <div class="contact">
        <p class="name">Téléphone : </p>
        <p class="link">07.50.97.68.93</p>
      </div>
      <div class="contact">
        <p class="name">GitHub</p>
        <p class="link"><a href="https://github.com/NetInq">https://github.com/NetInq</a></p>
      </div>
    </div>
    <div class="others">
      <div class="other">
        <p class="name">Localisation</p>
        <p class="link">Région de Bordeaux</p>
      </div>
      <div class="other">
        <p class="name">Statut civil</p>
        <p class="link">Lycéen Terminale S SI ISN</p>
      </div>
      <div class="other">
        <p class="name">Demande d'activité</p>
        <p class="link">Stage, Job d'été</p>
      </div>
    </div>
    <div class="end">
      <p>Site développé par Quentin Sar - 2019</p>
    </div>
</div>