<link rel="stylesheet" href="css/views/presentation.css">
<div id="presentation">
  <div class="c-left">
    <div class="card">
  <p>Bonjour et bienvenue sur mon site web. Je me nomme Quentin Sar et j'ai actuellement 17 ans. Jeune lycéen mon désire d'apprendre et ma curiosité me poussent à m'investir dans chaque projet afin de créer de nouvelles compétences et de nouvelles ambitions. Il y a quelques années, j'ai découvert la programation. Je commença d'abord dans de petits projets en Java, puis au fil du temps je me suis orienté sur le web avant de récemment reprendre du service en back-end. Je suis un amateur passionné. J'ai des compétences aquises depuis 3 ans et je ne cesse de les alimenter afin d'être toujours plus productif.</p>
    </div>
  </div>
  <div id="particles-js">
    <script src="js/particules.js"></script>
  </div>
  <div class="c-right c-all-r">
    <div class="question">
  <p id="question">Pourquoi choisir la programmation ?</p>
  <p id="answer">La programation est un moyen de sortir toutes nos idées de nos têtes afin de les produire lors de projets. Pour moi c'était donc évident, en réponse à la frustration de ne pas pouvoir mettre en oeuvre toutes mes idées j'ai décidé d'apprendre à programmer pour palier à ce problème.</p>
    </div>
  </div>
  <div id="one-particles-js">
    <script src="js/particules-one.js"></script>
  </div>
  <div class="c-left c-all-l">
    <div class="question">
  <p id="question">Est-ce une passion ? Pourquoi ?</p>
  <p id="answer">La programmation est passionnante de base. La diversité des langages, les possibilités de créations infinies, la concrétisation d'idées... Il est vrai que les débuts en programmation sont assez frustrants et hostile, mais malgré tout avec de la motivation cela se transforme en passion.</p>
    </div>
    <div id="two-particles-js">
      <script src="js/particules-two.js"></script>
    </div>
    <div class="c-right c-all-r">
      <div class="question">
    <p id="question">Comment ai-je créé mon site ?</p>
    <p id="answer">Mon site web doit être une vitrine de mon travail, mais avant tout un outil de présentation. J'ai préféré choisir des teintes de couleurs simples, et claires. Dans un esprit de douceur et de relaxation, je vous invite à explorer mon site web en levant le voile dès l'introduction. Vous pourrez ainsi découvrir ce qui se cache derrière le nom Quentin Sar...</p>
      </div>
    </div>
  </div>
  <div class="way">
    <div class="destination d-left">
      <p class="name">2016 Brevet des collèges - Mention très bien</p>
      <p class="description">Collège de L'Estey, Saint Jean d'Illac
Brevet obtenu en troisième.</p>
    </div>
    <div class="destination d-right">
      <p class="name">2017 Lycée Pape Clément - S SI</p>
      <p class="description">Lycée Pape Clément, Pessac
Rentrée au lycée en seconde avec option de découverte Science de l'ingénieur.</p>
    </div>
    <div class="destination d-left">
      <p class="name">2018 Lycée Pape Clément - S SI</p>
      <p class="description">Lycée Pape Clément, Pessac
Rentrée au lycée en première en série S avec Science de l'ingénieur.</p>
    </div>
    <div class="destination d-right">
      <p class="name">2018 Association ESportManager</p>
      <p class="description">Association loi 1901, domaine de l'E-Sport
Management dans l'association, passant par la gestion d'équipe, gestion de la communication, gestion des recrutements, gestion des relations.
      </p>
    </div>
    <div class="destination d-left">
      <p class="name">2018 Projet MyEcoIdea</p>
      <p class="description">Projet de réseau social écologique
Chef de projet. Gestion de tout le projet. Recrutement de l'équipe de base, développement front-end, gestion de la communication, dossier d'association inabouti.
      </p>
    </div>
    <div class="destination d-right">
      <p class="name">2019 Lycée Pape Clément - S SI ISN</p>
      <p class="description">Lycée Pape Clément, Pessac
Rentrée au lycée en première avec l'option Informatique et Sciences du Numérique</p>
    </div>
  </div>
</div>