#presentation
{
  position: relative;

  width: 100vw;

  scroll-snap-align: start;

  padding-top: 125px;
  padding-bottom: 50px;
}
#presentation::before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;

  background-image: url("../../images/paysage.jpg");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.c-all-l
{
  margin-right: calc(100vw/2);
}
.c-all-r
{
  margin-left: calc(100vw/2);
}
.c-left, .c-right
{
  width: calc(100vw/2);
}
@media only screen and (max-width: 700px) 
{
  .c-all-l, .c-all-r
  {
    margin: 0;
  }
  .c-left, .c-right
  {
    width: 100vw;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.card
{
  position: relative;
  width: calc(75%);
  
  padding: 20px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 50px;

  text-align: justify;
}
.card p
{
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 20px;
  padding-bottom: 10px;
}
.card::before
{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-color: rgba(246, 246, 246, 0.75);
  box-shadow: 2px 2px 2px 5px rgba(246, 246, 246, 0.75);

  transform:skew(-20deg);
  border-top-right-radius: 40%;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 75px;

  z-index: -1;
}
.card::after
{
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  left: 0;

  height: 100%;
  width: 100%;

  background-color: rgba(221, 221, 221, 0.75);
  box-shadow: 2px 2px 2px 5px rgba(221, 221, 221, 0.75);

  transform:skew(20deg);
  border-top-right-radius: 40%;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 75px;

  z-index: -2;
}

.question
{
  position: relative;
  width: calc(75%);
  
  padding: 20px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 50px;

  text-align: justify;
}
.question #question
{
  font-size: 1.5em;
  font-weight: bold;
  color: #313131;

  padding: 10px;

  background-color: rgba(246, 246, 246, 0.75);

  border-radius: 5px;
}

.way
{
  position: relative;

  width: 100vw;
}

.d-left
{
  margin-left: 23%;
  margin-right: 27%;
}.d-right
{
  margin-left: 27%;
  margin-right: 23%;
}

.destination
{
  width: 50%;
}

.destination .name
{

  background-color: rgba(246, 246, 246, 0.75);
  margin: 0;

  padding: 15px;

  font-size: 1.2em;
  font-weight: lighter;
}
.destination .description
{
  background-color: rgba(65, 64, 64, 0.034);
  margin-top: 0;
  margin-bottom: 50px;

  padding: 15px;

  text-align: justify;
  white-space: pre-wrap;
}

canvas{ display: block; vertical-align: bottom; }
#particles-js
{ 
  margin-top: 100px;
  
  position:absolute; 
  width: 50%; 
  height: 100px;
  
  background-image: url(""); 
  background-repeat: repeat; 
  background-size: cover; 
  background-position: 50% 50%; 
}
#one-particles-js
{ 
  margin-top: 100px;
  margin-left: 50%;
  
  position:absolute; 
  width: 50%; 
  height: 100px;
  
  background-image: url(""); 
  background-repeat: repeat; 
  background-size: cover; 
  background-position: 50% 50%; 
}
#two-particles-js
{ 
  margin-top: 100px;
  
  position:absolute; 
  width: 50%; 
  height: 100px;
  
  background-image: url(""); 
  background-repeat: repeat; 
  background-size: cover; 
  background-position: 50% 50%; 
}

@media only screen and (max-width: 700px) {
  .card::before
  {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  
    height: 100%;
    width: 100%;
  
    background-color: rgba(246, 246, 246, 0.75);
    box-shadow: 2px 2px 2px 5px rgba(246, 246, 246, 0.75);
  
    transform:skew(-2.5deg);
    border-top-right-radius: 40%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 75px;
  
    z-index: -1;
  }
  .card::after
  {
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    left: 0;
  
    height: 100%;
    width: 100%;
  
    background-color: rgba(221, 221, 221, 0.75);
    box-shadow: 2px 2px 2px 5px rgba(221, 221, 221, 0.75);
  
    transform:skew(2.5deg);
    border-top-right-radius: 40%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 75px;
  
    z-index: -2;
  }
}