#more
{
    height: auto !important;
    min-height: 0;
}
#more footer .top
{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    width: 100vw;
    position: relative;
}
#more footer .list
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-self: stretch;
    position: relative;
}
@media (max-width: 679px)
{
    #more footer .list
    {
        justify-content: space-evenly;
    }
}
#more footer .list .elem
{
    display: flex;
    flex-direction: column;
    flex: none;
    width: calc(25vw - 50px);
    margin: 25px;
    justify-content: center;
    padding-left: 50px;
}
@media (max-width: 1100px) {
    #more footer .list .elem
    {
        width: calc(50vw - 50px);
    }
}
@media (max-width: 600px) {
    #more footer .list .elem
    {
        width: calc(80vw - 50px);
    }
}
#more footer .list .elem a
{
    margin-left: 5px;
    color: #393939;
}
#more footer .list .elem p
{
    margin: 0;
    margin-left: 5px;
    color: #393939;
}
#more footer .list .elem .point {
    position: relative;
    margin-left: 25px;
}
#more footer .list .elem .link {
    color: #71ACFA;
    text-decoration: underline;
}
#more footer .list .elem .point::after
{
    content: ' ';
    position: absolute;
    top: calc(50% - 5px);
    left: -25px;
    height: 10px;
    width: 10px;
    background-color: var(--yellow);
}
#more footer .top::after
{
    content: ' ';
    position: absolute;
    left: 5%;
    width: 90%;
    height: 1px;
    bottom: 0;
    background-color: #393939;
}

#more footer .bottom
{
    margin-bottom: 20px;
    width: 100vw;
    text-align: center;
    font-variation-settings: "wght" 200;
}
