#sr-b-2 .landing-bg
{
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    animation: translate-left-big 2s;
}
#sr-b-2 .landing
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: auto;
}
@media (max-width: 1200px) {
    #sr-b-2 .landing-bg {
        max-height: 100vh;
        width: auto;
        height: auto;
        max-width: 30vw;
    }
}
#sr-b-2 .content
{
    margin-left: calc(var(--margin-side) - 15px);
}
@media (max-width: 992px) {
    #sr-b-2 .content {
        margin-top: 200px;
    }
}
@media (max-width: 782px) {
    #sr-b-2 .content {
        margin-top: 300px;
    }
}
#sr-b-2 .content .top
{
    display: flex;
    flex-direction: row;
}
#sr-b-2 .content .top .icon img
{
    margin-top: 5px;
    height: 75px;
    animation: translate-right 1.5s;
}
#sr-b-2 .content .top .title
{
    margin-left: 25px;
}
#sr-b-2 .content .top .title h2
{
    margin: 0;
    font-size: 2.5rem;
    font-variation-settings: "wght" 600;
    animation: translate-right 1.5s .5s, opacity .5s;
}
#sr-b-2 .content .top .title h3
{
    margin: 0;
    font-size: 2rem;
    font-variation-settings: "wght" 400;
    animation: translate-right 1.5s 1s, opacity 1s;
}
#sr-b-2 .content .txt .description
{
    margin-top: 25px;
}
#sr-b-2 .content .txt .description p
{
    font-size: 1.2rem;
    font-variation-settings: "wght" 200;
    animation: translate-right 1.5s 1.5s, opacity 1.5s;
}
#sr-b-2 .content .txt .list .elem
{
    margin-top: 10px;
}
#sr-b-2 .content .txt .list .elem:nth-child(1) {
    animation: translate-right 1.5s 2s, opacity 2s;
}
#sr-b-2 .content .txt .list .elem:nth-child(2) {
    animation: translate-right 1.5s 2.5s, opacity 2.5s;
}
#sr-b-2 .content .txt .list .elem:nth-child(3) {
    animation: translate-right 1.5s 3s, opacity 3s;
}
#sr-b-2 .content .txt .list span
{
    margin-left: 10px;
    font-size: 1rem;
    font-variation-settings: "wght" 200;
}


@media (max-width: 782px) {
    #sr-b-2 .content .top .icon img
    {
        height: 50px;
    }
    #sr-b-2 .content .top .title h2
    {
        font-size: 1.5rem;
    }
    #sr-b-2 .content .top .title h3
    {
        font-size: 1.2rem;
    }
    #sr-b-2 .content .txt .description p
    {
        font-size: 1rem;
    }
}
