:root
{
    --margin-side: 50px;
    --main: #E7BD53;
}

@media (max-width: 768px)
{
    :root
    {
        --margin-side: 25px;
    }
}

@font-face {
    font-family: 'Main';
    src: url('../fonts/BAHNSCHRIFT.TTF') format('truetype');
  }

  html {
    scroll-behavior: smooth !important;
  }

  body
  {
      margin: 0 !important;
      font-family: 'Main' !important;
      overflow-x: hidden !important;
  }

  @keyframes opacity
  {
      from { opacity: 0; }
      to { opacity: 0; }
  }

  @keyframes translate-left
  {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
  }

  @keyframes translate-right
  {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
  }

  @keyframes translate-left-big
  {
    from {
        opacity: 0;
        transform: translateX(-150px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
  }

  @keyframes translate-right-big
  {
    from {
        opacity: 0;
        transform: translateX(150px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
  }

  @keyframes translate-top
  {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }

  @keyframes translate-bottom
  {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }

  @keyframes translate-left-bottom
  {
    from {
        opacity: 0;
        transform: translateY(50px) translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
  }

  @keyframes bounce
  {
      0% {
          transform: translateY(0);
      }
      50% {
          transform: translateY(16px);
      }
      100% {
          transform: translateY(0);
      }
  }

  section {
      width: 100vw;
      min-height: 100vh;
      margin: 0 !important;
      position: relative;
  }

  .hide {
      display: none;
  }
