header
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100vw;
    margin: 0 !important;
    padding: 0;
    z-index: 10000;
    transition: .3s all;
}

header .logo
{
    position: relative;
}

header .logo img
{
    height: 60px;
    margin-top: 20px;
    margin-left: calc(var(--margin-side) - 15px);
}

header .menu
{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: flex-end;
    right: calc(var(--margin-side) - 25px);
    width: 100%;
}

header .menu .menu-elem
{
    height: 100%;
    line-height: 100px;
    font-size: 1.2rem;
    font-family: 'Main';
    font-variation-settings: "wght" 300;
    padding-left: 25px;
    padding-right: 25px;
    color: #ffffff;
    position: relative;
}

header .menu .menu-elem::before
{
    content: ' ';
    position: absolute;
    top: 70%;
    width: 75%;
    left: 12.5%;
    height: 1px;
    width: 0px;
    background-color: #ffffff;
    transition: .3s all;
}

header .menu .menu-elem:hover::before
{
    width: 75%;
}

header .menu
{
    position: relative;
}

header .menu #open
{
    height: 30px;
    margin-top: 35px;
    margin-right: 50px;
    cursor: pointer;
}

.menu-m
{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1000000;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, .9);
    display: none;
    user-select: none;
    transition: .3 all;
    animation: menu-m .5s;
}

@keyframes menu-m
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.menu-m .landing
{
    position: absolute;
    top: 0;
    right: -7vw;
    height: 40vh;
    animation: menu-landing .5s, opacity;
}

@keyframes menu-landing
{
    0% {
        transform: translateX(100vw) translateY(-50vh);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}

.menu-m .top
{
    color: #ffffff;
    cursor: pointer;
    line-height: 100px;
    display: flex;
    align-items:center;
    position: absolute;
    right: var(--margin-side);
    user-select: none;
    z-index: 10000;
}

.menu-m .top img
{
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}


.menu-m .top span
{
    color: #353535;
    font-size: 1.5rem;
}

.menu-m .list
{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-height: 730px)
{
    .menu-m .top
    {
        right: var(--margin-side);
        z-index: 10000;
    }
    .menu-m #close img
    {
        height: 20px;
    }
    .menu-m .top span
    {
        color: #353535;
        font-size: 1.2rem;
    }
}

.menu-m .list .elem
{
    text-align: center;
    width: 100vw;
    height: 10vh;
    line-height: 10vh;
    color: #353535;
    font-size: 4vh;
    font-variation-settings: "wght" 300;
    position: relative;
    animation: menu-elem .5s .5s, opacity .5s;
}

.menu-m .list .elem::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 30vw;
    width: 40vw;
    height: 2px;
    background-color: #eeeeee;
}

@keyframes menu-elem
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* .menu-m .list .elem::before
{
    content: ' ';
    position: absolute;
    bottom: 0;
    width: 25%;
    height: 2px;
    background-color: #ececec;
} */

.header-scroll
{
    height: 70px;
    background-color: #ffffff;
    box-shadow: 0 0 10px #ebebeb;
}
.header-scroll .logo img
{
    height: 40px;
    margin-top: 15px;
    margin-left: calc(var(--margin-side) - 15px);
}
.header-scroll .menu .menu-elem
{
    height: 100%;
    line-height: 70px;
    font-size: 1.2rem;
    font-family: 'Main';
    font-variation-settings: "wght" 300;
    padding-left: 25px;
    padding-right: 25px;
    color: #222222;
    position: relative;
}
.header-scroll .menu .menu-elem::before
{
    display: none;
}
.header-scroll .menu .menu-elem:hover
{
    background-color: #f1f1f1;
}
.header-scroll .menu #open #burger > *
{
    stroke: #222222;
}
.header-scroll .menu #open
{
    height: 30px;
    margin-top: 25px;
    margin-right: 50px;
    cursor: pointer;
}

.header-scroll .menu .menu-selected
{
    color: var(--main);
    font-variation-settings: "wght" 400;
    position: relative;
    transition: .3 all;
}
.header-scroll .menu .menu-selected::after
{
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--main);
}
